@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primary-white: #FFFEC4;
  --primary-color: #B90032;
  --primary-color-muted: #BE1F4A;
  --primary-black: #111010;
}
@font-face {
  font-family: heroking;
  src: url(./assets/Heroking-Regular.ttf);
}



body {
  
  background-color: var(--primary-white);
}


