@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .font-outline-2 {
    -webkit-text-stroke: 1.5px var(--primary-black);
  }
}

:root {

  --primary-white: #FFFEC4;
  --primary-color: #B90032;
  --primary-color-muted: #b90031ab;
  --primary-black: #111010;
  --primary-black-muted: #111010b4;
}
@font-face {
  font-family: heroking;
  src: url(./assets/Heroking-Regular.ttf);
}



body {
  
  background-color: var(--primary-white);
}


